.tabla{
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
}

.td,th{
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 10px;
    padding-bottom: 10px;
    color:white;
}

.caption{
    padding-top: 20px;
    font-style: normal;
}