*{
  box-sizing: border-box;
}

body{
  background: #011230;
  font-family: 'Ubuntu', sans-serif;
}

main{ 
  max-width: 800px;
  width: 90%;
  margin: auto;
  padding: 40 px;
}

#root {
  width: 100%;
}

@media screen and (max-width: 60rem){ /* 950px */
  :root {
      font-size: 14px;
  }
}